body {
    font-size: 4.5rem;
    font-family: Athelas,Georgia,Times,"Times New Roman",serif;
}
a {
}
.headline {
    position: relative;
    width: 100%;
}
.headline-cover {
    width: 100%;
    box-shadow: 0 0.3rem 0.3rem #999;
}
.headline-title {
    z-index: 2;
    color: #FFFFFF;
    position: absolute;
    left: 3rem;
    width: 80%;
    bottom: 3rem;
    line-height: 1.2;
    font-size: 5.5rem;
    text-shadow: 0rem 0.5rem 1rem #333;
    font-weight: bold;
    font-family: "San Francisco","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.wrapper {
    padding: 0 5rem;
}
.author {
    margin: 3rem 0;
    height: 9rem;
    position: relative;
}
.author-avatar {
    height: 100%;
    overflow: hidden;
    margin-right: 2rem;
    border-radius: 0.5rem;
    position: absolute;
    left: 0;
    top: 0;
}
.author-name {
    font-weight: bold;
    position: absolute;
    left: 11rem;
    top: 0;
    font-size: 4.5rem;
}
.author-desc {
    overflow: hidden;
    text-overflow: ellipsis;
    color: #999;
    position: absolute;
    left: 11rem;
    top: 5.5rem;
    font-size: 3.5rem;
    height: 4rem;
}
.content {
    clear: both;
}
.content img {
    width: 100%;
    border-radius: 1rem;
}
.content p {
    padding: 1.5rem 0;
    line-height: 1.2;
    text-align: justify;
    font-weight: lighter;
    color: #333;
}
.source {
    text-align: center;
    font-size: 4.5rem;
    margin: 4rem 0;
    padding: 2rem 1rem;
    border-radius: 1rem;
    font-family: "San Francisco","Helvetica Neue",Helvetica,Arial,sans-serif;
    border: 1px solid #f1f8fb;
    background: #f1f8fb;
    font-weight: border;
}
